@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'normalize.css';

:root {
  --primary: #0c66e4;
  --light-blue: #E9F2FF;
  --primary-cyan: #e9f2ff;
  --text-color: #172b4d;
  --light-gray: #626f86;
  --hover-background: #091e420f;
  --default-layout-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  overflow-y: overlay;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a {
  color: var(--text-color);
}

input[type='range' i] {
  appearance: none;
}

@font-face {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  src: url('../src/Assets/fonts/BlinkMacSystemFont.ttf');
}
